<section>
	<h3>Login</h3>

	<form [formGroup]="loginForm" class="form-card">
		<label for="username">Username:</label>
		<input id="username" type="text" pInputText formControlName="username" />

		<label class="mt-2" for="password">Password:</label>
		<p-password
			id="password"
			[feedback]="false"
			[toggleMask]="true"
			formControlName="password"
		></p-password>

		<div class="validation-errors">
			@for (control of Object.keys(loginForm.controls); track loginForm.controls) {
				@if (loginForm.get(control)?.invalid && loginForm.get(control)?.dirty) {
					<small class="required-text d-block">
						{{ control }} is required.
					</small>
				}
			}
		</div>

		@if (!inProgress) {
			<p-button
				class="mt-3 align-self-center"
				label="Login"
				(onClick)="onClickLogin()"
			/>
		} @else {
			<p-progressSpinner></p-progressSpinner>
		}
	</form>
</section>
