<section class="h-100 w-100 d-flex flex-column align-items-center justify-content-around">
	<h3>Welcome, {{ UserService.userInfo?.fullName }}</h3>

	<div class="d-flex flex-column align-items-stretch">
		<p-button
			class="mt-3"
			icon="bi bi-qr-code-scan"
			label="Scan QR Code"
			(onClick)="onQrCodeScanClick()"
		/>
		@if (UserService.userInfo?.role == UserRole.Passenger) {
			<p-button class="mt-3" icon="bi bi-briefcase" label="Track Baggages" />
			<p-button class="mt-3" icon="bi bi-info-circle-fill" label="Help" />
		} @else if (UserService.userInfo?.role == UserRole.Personnel) {
			<p-button
				class="mt-3"
				icon="bi bi-qr-code-scan"
				label="Generate QR Codes for a Flight"
				(onClick)="onQrCodeGenerateClick()"
			/>
			<p-button
				class="mt-3"
				icon="bi bi-briefcase"
				label="Track Baggages of a Flight"
				(onClick)="onTrackBaggagesClick()"
			/>
		}
	</div>
</section>
