<header class="mt-5">
    <h1 class="text-center" *ngIf="!this.isAdmin">Hi, user!</h1>
    <h1 class="text-center fst-italic" *ngIf="this.isAdmin">Staff Mode</h1>
    <h1 class="text-center mt-3">How may I help you?</h1>
</header>

<div id="menu-buttons" class="w-100 p-3 d-flex flex-column justify-content-center align-items-center">
    <button class="w-100 mt-5" mat-raised-button routerLink="/scan-qr-code">
        <mat-icon>qr_code_scanner</mat-icon> Scan Baggage QR Code
    </button>
    <button class="w-100 mt-5" mat-raised-button *ngIf="!this.isAdmin" routerLink="/track-baggage">
        <mat-icon>luggage</mat-icon> Track Baggage Status
    </button>
    <button class="w-100 mt-5" mat-raised-button routerLink="/get-help"><mat-icon>help</mat-icon> Get Help</button>
    <button class="w-100 mt-5" mat-raised-button *ngIf="this.isAdmin" routerLink="/generate-qr-code">
        <mat-icon>qr_code</mat-icon> Generate QR Code
    </button>
</div>

<mat-form-field id="user-selection" class="position-absolute bottom-0 mb-1 w-100 p-2" appearance="fill">
    <mat-label>Select User</mat-label>
    <mat-select (selectionChange)="userSelection($event.value)">
        <mat-option *ngFor="let user of this.demoUsers" [value]="[user.username, user.flightNumber]">{{
            user.username
        }}</mat-option>
    </mat-select>
</mat-form-field>
