img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h4 {
    white-space: pre;
    text-align: center;
    font-weight: 200;
}

.receivedButton {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(0,210,87);
}

.mainMenuButton {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: lightgray;
}

.staffBaggageMark {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background-color: lightblue;
}