<section class="h-100 w-100 d-flex flex-column align-items-center justify-content-around">
	<ng-container *ngTemplateOutlet="title"></ng-container>

	@if (UserService.userInfo?.role == UserRole.Passenger) {
		<ng-container *ngTemplateOutlet="passengerScan"></ng-container>
	} @else if (UserService.userInfo?.role == UserRole.Personnel) {
		<ng-container *ngTemplateOutlet="personnelScan"></ng-container>
	}
</section>

<ng-template #passengerScan>
	@if (btService.qrCodeScanResult() == QrCodeScanResult.Success) {
		<p>You received your baggage!<br />You can mark it as 'received' down below.</p>

		<p-button
			class="mt-3"
			icon="bi bi-check"
			label="Received By The Passenger"
			(onClick)="setBaggageStatus(BaggageStatus.ReceivedByThePassenger)"
		/>
	} @else if (btService.qrCodeScanResult() == QrCodeScanResult.NotOwnedByPassenger) {
		<p>Baggage does not belong to you.</p>

		<p-button
			class="mt-3"
			icon="bi bi-chevron-left"
			label="Return to main menu"
			(onClick)="router.navigateByUrl('home')"
		/>
	} @else if (btService.qrCodeScanResult() == QrCodeScanResult.CodeInvalid) {
		<p>Baggage QR Code is invalid.</p>

		<p-button
			class="mt-3"
			icon="bi bi-chevron-left"
			label="Return to main menu"
			(onClick)="router.navigateByUrl('home')"
		/>
	}
</ng-template>

<ng-template #personnelScan>
	@if (btService.qrCodeScanResult() == QrCodeScanResult.Success) {
		<p>Please set the appropriate baggage status.</p>

		<p-dropdown
			[options]="Object.keys(UserRole)"
			[(ngModel)]="selectedStatus"
		></p-dropdown>

		<p-button
			class="mt-3"
			icon="bi bi-check"
			label="Set Status"
			(onClick)="setBaggageStatus(selectedStatus)"
		/>
	} @else if (btService.qrCodeScanResult() == QrCodeScanResult.CodeInvalid) {
		<p>Baggage QR Code is invalid.</p>

		<p-button
			class="mt-3"
			icon="bi bi-chevron-left"
			label="Return to main menu"
			(onClick)="router.navigateByUrl('home')"
		/>
	}
</ng-template>

<ng-template #title>
	<div>
		@if (btService.qrCodeScanResult() == QrCodeScanResult.Success) {
			<img
				ngSrc="../../../assets/successful-scan.png"
				alt="Successful Scan"
				style="object-fit: contain; width: 200px"
			/>

			<h3 class="mt-2">Scan Successful</h3>
		} @else {
			<img
				ngSrc="../../../assets/failed-scan.png"
				alt="Failed Scan"
				style="object-fit: contain; width: 200px"
			/>

			<h3 class="mt-2">Scan Failed</h3>
		}
	</div>
</ng-template>
