header {
	background-color: #ff6347;
}

.product-title {
	color: #fff;
}

i.bi-briefcase-fill {
	font-size: larger;
	color: #fff;
}

i.bi-chevron-left {
	font-size: x-large;
	color: #fff;
	cursor: pointer;
}
