<subheader iconName="luggage" text="Track Baggage Status"></subheader>

<h1 class="mt-5 ms-3 fst-italic fw-bold">{{ this.baggageList[0].flightNumber }}</h1>

<table class="table">
    <thead>
        <tr>
            <td>Tag Number</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let baggage of baggageList">
            <td>
                <b>{{ baggage.tagNumber }}</b>
            </td>
            <td>{{ baggage.status }}</td>
        </tr>
    </tbody>
</table>
